.profile__name {
  max-width: 295px;
  min-width: 250px;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .profile__name {
    max-width: 189px;
    font-size: 27px;
    line-height: 1.22;
  }
}