.element__image {
  width: 282px;
  height: 282px;
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 0;
}

.element__image:hover {
  cursor: pointer;
  opacity: 0.6;
}