.popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  color: #000;
  margin: auto;
  max-width: 430px;
  max-height: 330px;
  border-radius: 10px;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .popup__container {
    max-width: 282px;
    max-height: 322px;
  }
}